/*div {
  background: #fff;
  border: 6px solid #ccc;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 400px;
}*/


body{
    -webkit-text-size-adjust:none;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    padding:5px;
    /*background-color: #33353B;
    color: white;*/
    word-wrap: break-word;

}

p{

}

date{
    height: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

iframe{
    width: 18em;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

header{
    margin: 0;
    width: 103%;
    padding: 10px;
    font-size: 250%; 
    background-color: #27282c;
    color: #fff;
    margin-top: -13px;
    margin-left: -13px;
}

img{
    width: 18em;
}

img.event_image{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 1em;
    display:block; 
    float:center;
}

post {
	width: 100%;
	margin: 0;
	background-color: #fff;
	margin-bottom: 20px;
	/* border: 1px solid #e2e2e2;*/
	min-height: 300px;
}

article{
    width: 18em;
    font-size: 14px;
}

.author {
	position:relative;
	left: -13px;
	margin: 0;
	padding: 10px 10px 10px 13px;
	background-color: #376ABC;
	color: #fff;
	width: 18.75em;
    
}

.author-art {
	position:relative;
	left:-16px;
	margin: 0;
	margin-bottom: 2px;
	width:16px;
	height:15px;
	background-image: url('http://studentuka.no/wp-content/themes/studentuka/img/ribbonyellow.png');
	background-repeat: no-repeat;
}

h2{
	position:relative;
	left: -13px;
	margin: 0;
	padding: 10px 10px 10px 13px;
	background-color: #376ABC;
    font-size:16px;
	color: #fff;
	width: 18.70em;
}
